<footer class="usa-footer usa-footer--big" role="contentinfo">
  <div class="grid-container usa-footer__return-to-top">
    <a href="#">Return to top</a>
  </div>
  <div class="usa-footer__primary-section cpt-footer">
    <div class="grid-container">
      <div class="grid-row grid-gap">
        <div class="tablet:grid-col-12 desktop:grid-col-12">
          <nav class="usa-footer__nav">
            <div class="grid-row grid-gap-4">
              <div class="mobile-lg:grid-col-6 tablet:grid-col-4 desktop:grid-col-4">
                <section class="usa-footer__primary-content usa-footer__primary-content--collapsible">
                  <h4 class="usa-footer__primary-link">About us</h4>
                  <ul class="usa-list usa-list--unstyled">
                    <li class="usa-footer__secondary-link"><a href="javascript:void(0);">Join our email list</a></li>
                    <li class="usa-footer__secondary-link"><a href="javascript:void(0);">Share your feedback</a></li>
                    <li class="usa-footer__secondary-link"><a href="javascript:void(0);">Learn about the team</a></li>
                    <li class="usa-footer__secondary-link"><a href="javascript:void(0);">National Center for PTSD</a></li>
                  </ul>
                </section>
              </div>
              <div class="mobile-lg:grid-col-6 tablet:grid-col-4 desktop:grid-col-4">
                <section class="usa-footer__primary-content usa-footer__primary-content--collapsible">
                  <h4 class="usa-footer__primary-link">Interagency resources</h4>
                  <ul class="usa-list usa-list--unstyled">
                    <li class="usa-footer__secondary-link"><a href="javascript:void(0);">Overview of interagency resources</a></li>
                    <li class="usa-footer__secondary-link"><a href="javascript:void(0);">U.S. Department of Defense</a></li>
                    <li class="usa-footer__secondary-link"><a href="javascript:void(0);">Substance Abuse and Mental Health Services Administration</a></li>
                    <li class="usa-footer__secondary-link"><a href="javascript:void(0);">U.S. Department of Veterans Affairs</a></li>
                  </ul>
                </section>
              </div>
              <div class="mobile-lg:grid-col-6 tablet:grid-col-4 desktop:grid-col-4">
                <section class="usa-footer__primary-content usa-footer__primary-content--collapsible">
                  <h4 class="usa-footer__primary-link">Connect with VA</h4>
                  <ul class="usa-list usa-list--unstyled">
                    <li class="usa-footer__secondary-link"><a href="javascript:void(0);">Mental Health and Suicide Prevention at VA</a></li>
                    <li class="usa-footer__secondary-link"><a href="javascript:void(0);">Working with VA</a></li>
                    <li class="usa-footer__secondary-link"><a href="javascript:void(0);">Find a VA Health Care Provider</a></li>
                    <li class="usa-footer__secondary-link"><a href="javascript:void(0);">Grants Management Services</a></li>
                    <li class="usa-footer__secondary-link"><a href="javascript:void(0);">Careers at VA</a></li>
                    <li class="usa-footer__secondary-link"><a href="javascript:void(0);">Veterans Service Organizations (VSO)</a></li>
                    <li class="usa-footer__secondary-link"><a href="javascript:void(0);">State Veterans Affairs Offices</a></li>
                  </ul>
                </section>
              </div>
            </div>
          </nav>
        </div>
      </div>
    </div>
  </div>
  <div class="usa-footer__secondary-section cpt-footer__secondary-section">
    <div class="grid-container">
      <div class="grid-row grid-gap">
        <div class="cpt-footer__logo-col">
          <div class="usa-footer__logo">
            <a href="/" class="va-footer-logo" title="Go to VA.gov">
              <img class="usa-footer__logo-img" src="{{ site.baseurl }}/assets/img/cpt/va-logo-white.png" alt="VA logo">
            </a>
          </div>
        </div>
        <div class="cpt-footer__links-container">
          <ul class="cpt-footer__links-bottom">
            <li><a href="https://www.section508.va.gov">Accessibility</a></li>
            <li><a href="https://www.va.gov/oig/">Office of Inspector General</a></li>
            <li><a href="https://www.va.gov/opa/Plain_Language.asp">Plain language</a></li>
            <li><a href="https://www.va.gov/privacy-policy/">Privacy, policies, and legal information</a></li>
            <li><a href="https://www.va.gov/scorecard/">VA.gov scorecard</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</footer>
