<div class="usa-overlay"></div>
<header class="usa-header usa-header--extended cpt-header" role="banner">
  <div class="usa-navbar cpt-navbar">
    <div class="usa-logo cpt-logo" id="extended-logo">
      <em class="usa-logo__text cpt-logo__text">
        <a href="/" title="Home" aria-label="Home">
          Community Provider Toolkit
        </a>
      </em>
    </div>
    <button class="usa-menu-btn cpt-menu-btn">Menu</button>
  </div>
  <nav role="navigation" class="usa-nav cpt-nav">
    <div class="usa-nav__inner">
      <button class="usa-nav__close"><img src="/assets/img/close.svg" alt="close"></button>
      <ul class="usa-nav__primary usa-accordion cpt-nav__primary">
        <li class="usa-nav__primary-item cpt-nav__primary-item">
          <a class="usa-nav__link cpt-nav__link" href="javascript:void(0)"><span>Asking about Military Experience</span></a>
        </li>
        <li class="usa-nav__primary-item cpt-nav__primary-item">
          <button class="usa-accordion__button usa-nav__link  usa-current cpt-nav__link" aria-expanded="false" aria-controls="extended-nav-section-one"><span>Working with Veteran Populations</span></button>
          <ul id="extended-nav-section-one" class="usa-nav__submenu">
            <li class="usa-nav__submenu-item">
              <a href="{{ site.baseurl }}/ai-and-an-veterans/">American Indian and Alaska Native Veterans</a>
            </li>
            <li class="usa-nav__submenu-item">
              <a href="#">Navigation link</a>
            </li>
            <li class="usa-nav__submenu-item">
              <a href="#">Navigation link</a>
            </li>
          </ul>
        </li>
        <li class="usa-nav__primary-item cpt-nav__primary-item">
          <button class="usa-accordion__button usa-nav__link cpt-nav__link" aria-expanded="false" aria-controls="extended-nav-section-two"><span>Support Veteran Mental Health &amp; Wellness</span></button>
          <ul id="extended-nav-section-two" class="usa-nav__submenu">
            <li class="usa-nav__submenu-item">
              <a href="#">Navigation link</a>
            </li>
            <li class="usa-nav__submenu-item">
              <a href="#">Navigation link</a>
            </li>
            <li class="usa-nav__submenu-item">
              <a href="#">Navigation link</a>
            </li>
          </ul>
        </li>
        <li class="usa-nav__primary-item cpt-nav__primary-item">
          <button class="usa-accordion__button usa-nav__link cpt-nav__link" aria-expanded="false" aria-controls="extended-nav-section-three"><span>Navigating Veteran Benefits &amp; Services</span></button>
          <ul id="extended-nav-section-three" class="usa-nav__submenu">
            <li class="usa-nav__submenu-item">
              <a href="#">Navigation link</a>
            </li>
            <li class="usa-nav__submenu-item">
              <a href="#">Navigation link</a>
            </li>
            <li class="usa-nav__submenu-item">
              <a href="#">Navigation link</a>
            </li>
          </ul>
        </li>
        <li class="usa-nav__primary-item cpt-nav__primary-item">
          <a class="usa-nav__link cpt-nav__link" href="{{ site.baseurl }}/resource-library/"><span>Resource Library</span></a>
        </li>
      </ul>
    </div>
  </nav>
</header>
