/*
* * * * * ==============================
* * * * * ==============================
* * * * * ==============================
* * * * * ==============================
========================================
========================================
========================================
----------------------------------------
USWDS THEME CUSTOM STYLES
----------------------------------------
!! Copy this file to your project's
   sass root. Don't edit the version
   in node_modules.
----------------------------------------
Custom project SASS goes here.

i.e.
@include u-padding-right('05');
----------------------------------------
*/

// Typography overrides. Here because the u-font-family mixin
// isn't available in the theme-typography.scss file
h1,
h2 {
  line-height: 1.35;
}

h6 {
  @include u-font-family('sans');
  font-weight: 400;
  text-decoration: underline;
}

.usa-intro {
  font-weight: 300;
}

// The header otherwise inherits the body font family
.usa-banner__header {
  @include u-font-family('sans');
}



// ***************** HOME HERO ***************** //
.cpt-home-hero {
  position: relative;
  margin: 0 0 units(3) 0;
  background-image: url('../img/cpt/cpt_mobile_hero_480w.jpg');
  background-repeat: no-repeat;
  min-height: 390px;

  @include at-media('mobile-lg') {
    background-image: url('../img/cpt/desktop-hero_mono_1396w.jpg');
  }

  @include at-media('tablet-lg') {
    margin: units(3);
  }

  &__body {
    @include grid-container;
    padding: units(7) 0 units(3);

    @include at-media('tablet-lg') {
      min-height: 650px;
    }
  }

  &__title-container {
    position: absolute;
    bottom: 2rem;
    left: 2rem;

    @include at-media('tablet-lg') {
      @include grid-col(7);
    }
  }

  &__title {
    max-width: 300px;
    font-weight: 300;
    @include u-font('serif', 'xl');

    @include at-media('tablet-lg') {
      max-width: 500px;
      @include u-font('serif', '3xl');
      line-height: lh('heading', 3);
    }

    span {
      display: inline-block;
      padding: 0 units(2);
      background-color: color('white');

      &:first-child {
        padding-top: units(1);
      }

      &:last-child {
        padding-bottom: units(1);
      }
    }
  }
}


// ***************** SECTION ***************** //
.cpt-section,
.cpt-section--mo-left {
  background-color: color($theme-color-cpt-primary-bg);
  margin: 0 0 units(3) 0;

  @include at-media('tablet-lg') {
    margin-left: units(3);
    margin-right: units(3);
  }

  &__body {
    padding: 0;

    @include at-media('tablet-lg') {
      margin-left: 0;
      margin-right: 0;
      padding: units(3) units(4);
    }

    p {
      @include u-font-size('body', 'sm');
      font-weight: 300;
    }
  }
}

.cpt-section {
  &__body {
    margin-bottom: units(3);
    padding: units(3) units(4) units(5);

    @include at-media('tablet-lg') {
      padding-bottom: units(7);
    }
  }

  &__title,
  &__title-alt {
    margin-bottom: units(4);
    padding-bottom: units(3);
    border-bottom: 3px solid color('white');
  }

  &__title {
    color: #BF3D02;
  }

  &__body &__lead {
    @include u-font('sans', 'lg');
    font-weight: bold;
    margin: 0 0 units(3) 0;
  }

  &__lead-alt,
  &__text-highlight {
    color: #BF3D02;
  }

  &__body &__text-strong {
    @include u-font-family('sans');
    font-weight: bold;
  }
}

// ***************** SECTION MEDIA OBJECT -- LEFT variation ***************** //
.cpt-section--mo-left {
  &__body {
    p {
      @include u-font-size('body', 8);
    }
  }

  &__text {
    margin-bottom: units(6);
    padding: units(3) units(4) 0;

    @include at-media('tablet-lg') {
      margin-bottom: 0;
      padding: units(3) units(4) units(3) 0;
    }
  }

  &__figure {
    padding: 0;

    @include at-media('tablet') {
      padding-bottom: units(3);
      text-align: center;
    }
  }
}

// ***************** CPT SIDENAV ***************** //
.cpt-sidenav {
  padding: units(3) units(2) 0;
  max-width: 450px;
  border-bottom-color: color('base');

  @include at-media('tablet') {
    padding: 0;
  }

  &__item {
    border-top-color: color('base');

    &:first-child {
      border-top-width: 3px;
    }
  }

  .usa-current {
    background-color: color('white');
    color: color($theme-color-cpt-text);
  }
}

.cpt-sidenav.usa-sidenav .usa-current:after {
  display: none;
}

// ***************** FOOTER ***************** //
.usa-footer__return-to-top a {
  @include u-font-family('sans');
  color: color('gray-cool-80');
  text-decoration: none;
}

.cpt-footer {
  @include u-font-family('sans');
  color: color('white');
  background-color: color($theme-color-cpt-blue);

  .usa-footer__primary-link,
  .usa-footer__secondary-link a {
    color: color('white');
  }

  .usa-footer__secondary-link a {
    text-decoration: none;

    &:visited {
      color: color('white');
    }
    &:hover {
      text-decoration: underline;
    }
  }

  &__secondary-section {
    background-color: color($theme-color-cpt-blue);

    .usa-footer__logo-img {
      max-width: 216px;
    }
  }

  &__logo-col,
  &__links-container {
    @include u-width(full);
  }

  .usa-footer__primary-link {
    @include u-font-size('body', 'lg');
  }

  .usa-footer__secondary-link {
    @include u-font-size('body', 'sm');
  }

  &__links-bottom {
    width: 100%;
    padding: 0;
    list-style: none;
    @include u-font-family('sans');

    li {
      display: inline-block;

      &:after {
        content: "|";
        padding: 0 units(1);
        color: color('white');
      }
    }

    li a {
      color: color('white');
      text-decoration: none;

      &:visited {
        color: color('white');
      }

      &:hover {
        text-decoration: underline;
      }
    }

    li:last-child a:after {
      content: '';
    }
  }
}
